<ion-view title="Favoritos" ng-controller="FavoritosCtrl as app">
	<ion-content class="has-header" padding="true">
		<ion-list>
        <ion-item ng-repeat="bar in app.locales" type="item-text-wrap" ng-href="#/tab/bar/{{bar.id}}" class="item-thumbnail-left" >
          <img ng-src="{{bar.logo}}" ng-show="bar.logo">
          <h3 style="margin:-5px 0 0 0" class="balanced">
            {{bar.name}} <br/>
            <i class="icon ion-star energized" data-ng-repeat="i in bar.range|ranking:bar.range"></i> <span class="dark" ng-show="bar.menus[0].price">{{bar.menus[0].price | number:2}}&euro;</span>
          </h3>
          <p style="margin:0">
            <small ng-show="bar.address">{{bar.address}}</small>
            <small>
              <i class="icon ion-location assertive"></i> 
            {{bar.gps|distancia:mygeo}}
            </small>
            <!-- <small ng-show="bar.phone">Tel. {{bar.phone}}</small> -->
          </p>
          <ol ng-show="bar.menus" ng-repeat="menu in bar.menus" ng-show="bar.menus">
            <li><i class="icon ion-spoon balanced"></i> {{menu.start | limitTo:25}}...</li>
            <li><i class="icon ion-fork balanced"></i> {{menu.main | limitTo:25}}...</li>
          </ol>
          <p>
            <i class="icon ion-person" ng-show="bar.features.parking"></i>
            <i class="icon ion-heart" ng-show="bar.features.wifi"></i>
            <i class="icon ion-pizza" ng-show="bar.features.deck"></i>
            <i class="icon ion-wifi" ng-show="bar.features.wheelchair"></i>
            <i class="icon ion-model-s" ng-show="bar.features.delivery"></i>
          </p>
        </ion-item>
			<ion-item type="item-text-wrap" href="#" ng-hide="app.locales">
				<h2>
					<i class="icon ion-sad"></i> No tienes favoritos {{texto}}
				</h2>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
