<ion-view title="Promociones">
	<ion-content has-header="true" padding="true">
		<div class="list card" ng-repeat="bar in bares" href="#/tab/bar/{{bar.id}}" ng-show="bar.promo">
			<div class="item item-avatar">
				<img ng-src="{{bar.logo}}">
				<h2>{{bar.name}}</h2>
				<p>{{bar.address}}</p>
			</div>
			<div class="item item-image">
				<a href="#/tab/bar/{{bar.id}}">
					<img ng-src="{{bar.imgpromo}}">
				</a>
			</div>
			<a class="item item-icon-left assertive" href="#">
				<i class="icon ion-beer"></i>
				{{bar.promo}}
			</a>
		</div>
	</ion-content>
</ion-view>
