<ion-view title="Promocion">
	<ion-content class="has-header padding">
		<ion-list>
			<ion-item ng-repeat="bar in bares" href="#/tab/bar/{{bar.id}}" ng-show="bar.promo">
				<!-- <div class="card"> -->
					<div class="item item-avatar">
						<img ng-src="{{bar.logo}}">
						<h2>{{bar.name}}</h2>
						<p>{{bar.address}}</p>
					</div>
					<div class="item item-image">
						<img ng-src="cover.jpg">
					</div>
					<a class="item item-icon-left assertive" href="#">
						<i class="icon ion-beer"></i>
						{{bar.promo}}
					</a>
				<!-- </div> -->
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
