  <ion-view title="{{bar.name}}" ng-controller="DetailCtrl">
    <ion-content class="has-header" padding="true">
      <div class="row responsive-sms">
        <div class="col col-50">
          <img ng-src="{{bar.logo}}" style="width:100%">
        </div>
        <div class="col col-50">
          <h3 style="margin:0" class="barTitle">{{bar.name}}<br/>
            <i class="icon ion-star energized" data-ng-repeat="i in bar.range|ranking:bar.range"></i>
          </h3>
          <p>
            {{bar.address}}<br/>
            <span ng-show="bar.phone" ng-href="tel:{{bar.phone}}">Tel. {{bar.phone}}</span>
          </p>
          <p class="right"><i class="icon ion-location assertive" ng-show="bar.location"></i> {{bar.location|distancia:mygeo}}</p>
        </div>
      </div>
      <div class="row responsive-sms">
        <div class="col">
          <p>{{bar.description}}</p>
        </div>
      </div>
      <div class="row responsive-sms">
        <div class="col">
          <div class="button-bar">
            <a class="button icon ion-ios7-telephone" ng-click="showConfirm('tel:{{bar.phone}}')"></a>
            <a class="button icon ion-ios7-email" ng-click="showConfirm('mailto:{{bar.email}}')"></a>
            <a class="button icon ion-map" ng-href="#"></a><!-- /tab/map/{{bar.id}} -->
            <a class="button icon ion-share" ng-click="showActionsheet()"></a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card" ng-repeat="menu in bar.menus" ng-show="bar.menus">
            <div class="item item-divider">
              Menu del {{menu.validFrom|date:"d/MM"}} al {{menu.validTo|date:"d/MM"}}
            </div>
            <div class="item item-text-wrap">
              <li>{{menu.start}}</li>
              <li>{{menu.main}}</li>
              <li>{{menu.dessert}}</li>
            </div>
            <div class="item item-divider">
              {{menu.price | number:2}}&euro;
            </div>
          </div>
        </div>
      </div>

      <div class="row responsive-sms" ng-show="bar.comments">
        <div class="col">
          <h3><i class="icon ion-chatboxes"></i></h3>
        </div>
        <div class="col col-90">
          <h3>Comentarios</h3>
        </div>
      </div>
      <div class="row responsive-sms" ng-repeat="comentario in bar.comments">
        <div class="col col-80">
          <h5 style="margin:0;"><a ng-href="mailto:{{comentario.comment.email}}"></a>{{comentario.comment.name}}</h5>
          <p style="margin:0;">{{comentario.comment.fecha|date:"d/MM/y"}}<br/>
          {{comentario.texto}}</p>
        </div>
        <div class="col">
          <h1><i class="ion ion-person" style="color:#f90"></i></h1>
        </div>
      </div>
    </ion-content>
  </ion-view>