<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-only slide-in-left">

  <ion-tab title="Buscar" icon="icon ion-search" href="#/tab/buscador">
    <ion-nav-view name="tab-buscador"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Cercanos" icon="icon ion-map" href="#/tab/mapa">
    <ion-nav-view name="tab-mapa"></ion-nav-view>
  </ion-tab>  

  <ion-tab title="Promo" icon="icon ion-calendar" href="#/tab/hoy">
    <ion-nav-view name="tab-hoy"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Favoritos" icon="icon ion-bookmark" href="#/tab/favoritos">
    <ion-nav-view name="tab-favoritos"></ion-nav-view>
  </ion-tab>

<!--   <ion-tab title="Ajustes" icon="icon ion-settings" href="#/tab/ajustes">
    <ion-nav-view name="tab-ajustes"></ion-nav-view>
  </ion-tab> -->

</ion-tabs>
